name: .NET Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
    - name: Restore dependencies
      run: dotnet restore ./PSPlaywright/psplaywright.csproj
    - name: Build
      run: dotnet publish ./PSPlaywright/psplaywright.csproj --no-restore --configuration Release
    - name: HTTP Server Action
      uses: Eun/http-server-action@v1.0.12
      with:
        directory: ./Playwright.Tests/TestPages
        port: 9999
    - name: Run Pester Tests
      shell: pwsh
      run: |
        Import-Module ./PSPlaywright/bin/Release/netstandard2.0/publish/PSPlaywright.psd1
        Install-Playwright -SkipNodeInstall
        Invoke-Pester -Path ./Playwright.Tests -Output Detailed
