name: Publish PowerShell Module

on:
  workflow_dispatch:
jobs:
  publish:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Build and Publish .NET Project
        run: dotnet publish ./PSPlaywright/psplaywright.csproj --configuration Release --output output/PSPlaywright

      - name: Publish to PowerShell Gallery
        shell: pwsh
        run: |
          $ErrorActionPreference = 'Stop'
          $modulePath = './output/PSPlaywright'
          Publish-Module -Path $modulePath -NuGetApiKey ${{ secrets.PSGALLERY_API_KEY }}
